@import "tailwindcss";

@theme {
  --color-surface: #fafafa;
  --color-surface-dark: #0f1419;

  --color-foreground: #222222;
  --color-muted: #5a5b63;
  --color-foreground-dark: #ffffff;
  --color-muted-dark: #99a1af;

  --color-primary: #3b82f6;
  --color-primary-soft: #dce7ff;
}
