@import "tailwindcss";

@theme {
  --color-surface: #fafafa;
  --color-surface-dark: #16161a;

  --color-foreground: #222222;
  --color-muted: #5a5b63;
  --color-foreground-dark: #fffffe;
  --color-muted-dark: #c7c9d1;

  --color-primary: #1d3a8a;
  --color-primary-soft: #dce7ff;
}
